<head>
 <link rel="stylesheet" href="/assets/index.css" />
</head>
    <ul class="my-nav-bar">
        <li class="my-nav-bar-item"> <a href="/">Anasayfa</a></li>
        <li> <a href="/user">Kullanıcılar</a></li>
    </ul>
